* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* .App {
  text-align: center;
} */
main{
  min-height: 100vh;
  padding: 25px;
}
.weather-app {
  background-image: url(./assets/sunny.jpg);
  background-size: cover;
  background-position: bottom;
  
}
.weather-app.cold {
  background-image: url(./assets/cold.jpg);
}

.search-box {
  width: 100%;
  margin-bottom: 75px;
}

.search-box .search {
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  /* background: none; */
  border: none;
  outline: none;

  border-radius: 0 0 15px 15px;
  margin-top: -25px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

  color: #313131;
  font-size: 15px;

  transition: 0.4s ease;
}
.search-box .search:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.location {
  color: #fff;
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  text-shadow: 4px 4px rgba(50, 50, 70, 0.5);
  padding-bottom: 5px;
}

.location-date {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather .weather-temp {
  position: relative;
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5); 
  text-align: center;
  margin: 20px 50px;
  background-color: rgba(255, 255, 255, 0.2);
  
  border-radius: 10px;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  padding: 15px 25px;
  /* width: 300px; */
}

.weather .weather-desc {
  color: #fff;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}